{% extends 'base.html.twig' %}

{% block body %}
<body>
<center>
    <img src="{{ asset('img/logo2.png') }}" alt="logo">
</center>

<div class="searchDiv">
    <center>
<center>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherchez un spot..." title="Type in a name">
	<ul class = "liste" id="liste"></ul>
</center>

<script>
function myFunction() {
    var input, text, filter, ul, a, li, i, txtValue; // Initialisation des valeurs
    input = document.getElementById("myInput"); // recupère l'inpute de la bar de recherche
    filter = input.value.toUpperCase(); // recupère la valeur de la bar de recherche
    ul = document.getElementById("liste"); // recupère la liste
    var tab = {{ cities | json_encode() | raw }};// Initialisation des valeurs du tableau
    console.log(tab);
    for (i = 0; i < tab.length; i++) {
            li = document.createElement("li");
            li.setAttribute("id", tab[i]);
            text = document.createTextNode(tab[i]);
            a = document.createElement("a");
            a.appendChild(text);
            a.href = "/city/" + tab[i];
            li.appendChild(a);
            li.style.display = "none";
    		ul.appendChild(li);
    }
    if (filter != ""){
	    for (i = 0; i < tab.length; i++) {
	    	li = document.getElementById(tab[i]);
	        if (tab[i].toUpperCase().startsWith(filter)) {
	            li.style.display = "";
	        }
	        else{
	        	li.style.display = "none";
	        }
	    }
	}
    else{
    	for (i = 0; i < tab.length; i++) {
            li = document.getElementById(tab[i]);
            li.style.display = "none";
    	}
    }
}
</script>
</div>
<br/>
<center>
<a href="/testimonials" class="btn btn-info">Renseignez-nous</a>
</center>

<script>
function kill() {

}
</script>

<img id="imgBlack" src="{{ asset('img/black.png') }}" alt="blackAmongUs" width="100" height="145" onclick="kill()">
<img id="imgBrown" src="{{ asset('img/brown.png') }}" alt="brownAmongUs" width="100" height="145">
<img id="imgDarkBlue" src="{{ asset('img/dark_blue.png') }}" alt="darkBlueAmongUs" width="100" height="145">
<img id="imgDarkGreen" src="{{ asset('img/dark_green.png') }}" alt="darkGreenAmongUs" width="100" height="145">
<img id="imgLightBlue" src="{{ asset('img/light_blue.png') }}" alt="lightBlueAmongUs" width="100" height="145">
<img id="imgLightGreen" src="{{ asset('img/light_green.png') }}" alt="lightGreenAmongUs" width="100" height="145">
<img id="imgOrange" src="{{ asset('img/orange.png') }}" alt="orangeAmongUs" width="100" height="145">
<img id="imgPink" src="{{ asset('img/pink.png') }}" alt="pinkAmongUs" width="100" height="145">
<img id="imgRed" src="{{ asset('img/red.png') }}" alt="redAmongUs" width="100" height="145">
<img id="imgWhite" src="{{ asset('img/white.png') }}" alt="whiteAmongUs" width="100" height="145">

{% endblock %}
