{% extends 'base.html.twig' %}

{% block body %}


		 {{ form_start(testimonialsFormView, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="form-group">
 			{{form_label(testimonialsFormView.surferName)}}
 			{{form_widget(testimonialsFormView.surferName)}}
 		</div>

		<div class="form-group">
			{{form_label(testimonialsFormView.date)}}
			{{form_widget(testimonialsFormView.date)}}
		</div>

		<div class="form-group">
			{{form_label(testimonialsFormView.duration)}}
		 	{{form_widget(testimonialsFormView.duration)}}
		</div>

    <div class="form-group">
			{{form_label(testimonialsFormView.spot)}}
		 	{{form_widget(testimonialsFormView.spot)}}
		</div>

		<div class="form-group">
			{{form_label(testimonialsFormView.pollution)}}
		 	{{form_widget(testimonialsFormView.pollution)}}
		</div>

		<div class="form-group">
			{{form_label(testimonialsFormView.swimmerNb)}}
		 	{{form_widget(testimonialsFormView.swimmerNb)}}
		</div>

    <div class="form-group">
			{{form_label(testimonialsFormView.fishingBoatNb)}}
		 	{{form_widget(testimonialsFormView.fishingBoatNb)}}
		</div>

    <div class="form-group">
			{{form_label(testimonialsFormView.leisureBoatNb)}}
		 	{{form_widget(testimonialsFormView.leisureBoatNb)}}
		</div>

    <div class="form-group">
			{{form_label(testimonialsFormView.sailingBoatNb)}}
		 	{{form_widget(testimonialsFormView.sailingBoatNb)}}
		</div>

    <div class="form-group">
			{{form_label(testimonialsFormView.others)}}
		 	{{form_widget(testimonialsFormView.others)}}
		</div>






		 <button type="submit" class="btn btn-dark">Valider</button>

		 {{form_end(testimonialsFormView)}}

		 <form>
  		<div class="form-group">
    		<label for="exampleInputEmail1">Email address</label>
    		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  		</div>
  		<div class="form-group">
    		<label for="exampleInputPassword1">Password</label>
    		<input type="password" class="form-control" id="exampleInputPassword1">
  		</div>
  		<div class="form-group form-check">
    		<input type="checkbox" class="form-check-input" id="exampleCheck1">
    		<label class="form-check-label" for="exampleCheck1">Check me out</label>
  		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
		</form>





<BR>
	<BR>

{% endblock %}
